body {
  background: orange;
  padding: 0 24px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  margin-top: 100px;
}

[class^="col"] :not(:last-child) {
  margin-bottom: 30px;
}

[class^="col"] {
  padding: 30px;
}

.form button:not(:last-child) {
  margin-right: 100px;
}

.form button.btn {
  height: fit-content
}