:root {
  --width-nome-biglietto: 20%;
}

body {
  background: orange;
  padding: 0 24px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  margin: 50px auto;
}

[class^="col"] {
  padding: 30px;
}

.form button:not(:last-child) {
  margin-right: 100px;
}

.form button.btn {
  height: fit-content
}

.nome-biglietto {
  width: var(--width-nome-biglietto);
  background-color: rgba(255, 166, 0, 0.521);
}

.info-biglietto {
  width: calc(100% - var(--width-nome-biglietto));
}

.info-biglietto > div, .nome-biglietto{
  padding: 20px 30px;
}

#biglietto .content {
  border: 2px solid black;
  height: 200px;
}

.nome-biglietto {
  border-right: 2px solid black;
}

#biglietto div {
  height: 100%;
}

#biglietto .content .nome-biglietto, #biglietto .content  .info-biglietto div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#biglietto .content  .info-biglietto > div {
  width: calc(100% / 3);
  height: 50%;
}

#biglietto {
  text-transform: uppercase;
  font-weight: 600; 
}

#biglietto .content h3 {
  font-size: 15px;
  font-weight: 800;
}

#biglietto h2 {
  font-size: 20px;
  font-weight: 900;
}